@import '_mixins';

:host {
  display: flex;
  flex-direction: column;
  st-header {
    height: 50px;
    border-bottom: size(line, thick) solid color(disabled);
    align-items: center;
  }
  st-subnav {
    height: size(subnav, height);
    align-items: center;
  }
  st-viewport {
    flex-grow: 1;
    background: color(bg);
    max-width: 100%;
    overflow: {
      x: hidden;
      y: scroll;
    }
    @include mobile {
      @include hide-overflow;
    }
  }
}
