<div class="workarea">
  <form [formGroup]="wishlistForm">
    <div class="row start-lg middle-xs">
      <st-input
        class="col-xs-10 col-lg-4"
        [matComplete]="true"
        [stocks]="mockStocks"
        [control]="wishlistForm.controls['symbol']"
        name="Select a stock"
      ></st-input>
      <st-button icon="add" type="icon" (click)="onSubmit()"></st-button>
    </div>
    <div class="row">
      <st-list
        [items]="wishList"
        class="col-sm-8 col-lg-4"
        [template]="listTemplate"
      ></st-list>
    </div>
  </form>
</div>

<ng-template #listTemplate let-content>
  {{ content.description }}
</ng-template>
